@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the scrollbar but allow scrolling */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* For IE and Edge */
  scrollbar-width: none;      /* For Firefox */
}